{%raw%}{% load staticfiles %}
{% load compress %}

{% compress js %}{%endraw%}
    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/app.js" %}"></script>{%endraw%}

    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/config/csrf.js" %}"></script>{%endraw%}
    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/config/limiter.js" %}"></script>{%endraw%}
    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/config/routes.js" %}"></script>{%endraw%}

    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/controllers/globalController.js" %}"></script>{%endraw%}
    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/controllers/homeController.js" %}"></script>{%endraw%}

    {%raw%}<script src="{% static "apps/{%endraw%}{{cookiecutter.app_name}}{%raw%}/services/embeddedService.js" %}"></script>{%endraw%}
{%raw%}
{% endcompress %}
{%endraw%}